* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* Khôi phục lại cỡ chữ mặc định bằng rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ------------- thẻ dùng chung -------------  */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  color: #fff;
  min-width: 118px;
  line-height: 50px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
  padding: 0px 16px;
}
/* ------------- Header -------------  */
.header {
  background-color: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0px 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0px 0px currentColor;
}
.nav li.active a::after {
  content: "";
  left: 21px;
  position: absolute;
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
/* ------------- Main -------------  */
.hero {
  padding: 56px 0px 65px;
  background-color: #fffcf4;
}
.hero .body {
  display: flex;
}
.hero .media-block {
  width: 48%;
  position: relative;
}
.hero .content-block {
  width: 52%;
}
.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.hero .hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.5);
  width: 270px;
  padding: 24px;
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}
.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon3 {
  background-color: #ebeaff;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}
.hero-summary .title {
  color: #171100;
  font-size: 1.8;
  font-weight: 600;
  line-height: 1.67;
}
.hero-summary .item + .item {
  margin-top: 22px;
}
